<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <!-- CSS orders by specificty, but for same level, last defined takes precedence -->
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- "Default" CSS for the project, overriding Bootstrap -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='tui.css') }}">

  <!-- To use fontawesome for iconography -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  {% block extra_css %}{% endblock extra_css %}

  <!-- include a favicon -->
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  <title>VTTRPG Helper</title>
  
  <!-- removed links that wont work here -->
  


  <!-- Thunderbird UI v3.3.0 Template-->
</head>

<body>
<!-- SITE HEADER START -->
<!-- Navigation orientation: Add 'inline' for right aligned inline navigation or 'vertical' for a left vertical navigation format -->

<!-- Navigation styling: Add the 'inverted' or 'photo' class to change the navigation styling -->
<div class="site-header navbar navbar-expand-lg d-block">
  <div class="navbar-header">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent"
            aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand">VTTRPG Helper</a>
    <div class="user-welcome ml-auto">
      <img class="rounded-circle account-img" src="{{ 'current_user.email' | gravatar }}" alt="user photo">
      
      Welcome, User
    </div>
  </div>
  <div class="collapse navbar-collapse" id="navbarContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active"><a class="nav-link" href="#">Page 1 <span class="sr-only">(current)</span></a></li>
      <li class="nav-item"><a class="nav-link" href="#">Page 2</a></li>
      <li class="nav-item"><a class="nav-link" href="#">Page 3</a></li>
      <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1"
                                       role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Page 4</a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink1">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item"><a class="nav-link" href="#">Page 5</a></li>
    </ul>
  </div>
</div>
<!-- SITE HEADER END -->

<!-- SITE CONTENT START -->
<!-- Change the 'main-content' class from 'container' to 'container-fluid' for the content to span the width of the browser.  -->

<div id="main-content" class="container">
  <h1>Page Title</h1>
  <div class="row">
    <div class="col-md-4">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel cursus metus, et dictum nunc.
        Pellentesque
        sit amet nulla eu lacus vehicula tempor. In ipsum ex, lobortis et fermentum sed, consectetur eu tortor.
        Duis lobortis feugiat faucibus. Vivamus urna lorem, ultricies vel ante et, scelerisque semper ipsum.
        Morbi fringilla quam et volutpat molestie. Nullam sed nulla scelerisque, vestibulum quam eget, varius
        libero. Integer non dictum nulla, a volutpat ante. Praesent blandit nunc ut nisi rhoncus ultricies eget
        vitae est. Sed vehicula consectetur arcu, vel aliquet augue venenatis eget.
      </p>
    </div>
    <div class="col-md-8">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vel cursus metus, et dictum nunc.
        Pellentesque
        sit amet nulla eu lacus vehicula tempor. In ipsum ex, lobortis et fermentum sed, consectetur eu tortor.
        Duis lobortis feugiat faucibus. Vivamus urna lorem, ultricies vel ante et, scelerisque semper ipsum.
        Morbi fringilla quam et volutpat molestie. Nullam sed nulla scelerisque, vestibulum quam eget, varius
        libero. Integer non dictum nulla, a volutpat ante. Praesent blandit nunc ut nisi rhoncus ultricies eget
        vitae est. Sed vehicula consectetur arcu, vel aliquet augue venenatis eget.
      </p>
    </div>
  </div>
</div>
<!-- SITE CONTENT END -->

<!-- SITE FOOTER START -->

<footer class="site-footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-auto">
        <p><strong>Content Owner</strong><br>
          Yoda | 123-4444</p>
      </div>
      <div class="col-auto">
        <p><strong>Website Contact</strong><br>
          Obi-Wan Kanobi | 456-7777</p>
      </div>
    </div>
  </div>
</footer>
<!-- SITE FOOTER END -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Extra JavaScript -->
    <script src="{{url_for('static',filename='tui.js')}}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>

</html>
